aiohappyeyeballs==2.6.1
aiohttp==3.12.12
aiosignal==1.3.2
asyncio-mqtt==0.16.2
attrs==25.3.0
cffi==1.17.1
cryptography==45.0.4
frozenlist==1.7.0
idna==3.10
joblib==1.5.1
markdown-it-py==3.0.0
marshmallow==4.0.0
marshmallow_dataclass==8.7.1
mdurl==0.1.2
multidict==6.4.4
mypy==1.16.1
mypy-extensions==1.0.0
numpy==2.3.0
paho-mqtt==2.1.0
pandas==2.3.0
pathspec==0.12.1
propcache==0.3.2
pycparser==2.22
Pygments==2.19.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
PyYAML==6.0.2
redis==6.2.0
rich==14.0.0
ruff==0.11.13
scikit-learn==1.7.0
scipy==1.15.3
setuptools==80.9.0
six==1.17.0
threadpoolctl==3.6.0
# Editable install with no version control (topgun==0.1.0.dev524)
typeguard==4.4.3
types-cffi==1.17.0.20250523
types-pyOpenSSL==24.1.0.20240722
types-python-dateutil==2.9.0.20250516
types-PyYAML==6.0.12.20250516
types-redis==4.6.0.20241004
types-requests==2.32.0.20250602
types-setuptools==80.9.0.20250529
typing-inspect==0.9.0
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.4.0
wheel==0.45.1
yarl==1.20.1
